@property --scroll-snap-stop {
    syntax: "*";
    inherits: false;
    initial-value: normal;
}

@property --scale-y {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --overflow-x {
    syntax: "*";
    inherits: false;
    initial-value: visible;
}

@property --scroll-margin-inline {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --aspect-h {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --translate-x {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 0;
}

@property --mask-repeat {
    syntax: "<repeat-style>";
    inherits: false;
    initial-value: no-repeat;
}

@property --text-decoration-thickness {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: auto;
}

@property --overflow {
    syntax: "*";
    inherits: false;
    initial-value: visible;
}

@property --perspective {
    syntax: "<length>";
    inherits: false;
    initial-value: 0;
}

@property --z-index {
    syntax: "<integer>";
    inherits: false;
    initial-value: 0;
}

@property --scale-x {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --text-orientation {
    syntax: "*";
    inherits: true;
    initial-value: mixed;
}

@property --table-layout {
    syntax: "*";
    inherits: false;
    initial-value: auto;
}

@property --dynamic-opacity {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 100%;
}

@property --background-opacity {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --backdrop-contrast {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --inset {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 0;
}

@property --backdrop-saturate {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --object-position {
    syntax: "<position>";
    inherits: false;
    initial-value: 50% 50%;
}

@property --container-padding-right {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --divide-opacity {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --pointer-events {
    syntax: "*";
    inherits: false;
    initial-value: auto;
}

@property --scroll-padding-top {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --border-color {
    syntax: "<color>";
    inherits: false;
    initial-value: currentColor;
}

@property --brand-accent {
    syntax: "<color>";
    inherits: false;
    initial-value: #0000;
}

@property --mask-composite {
    syntax: "*";
    inherits: false;
    initial-value: intersect;
}

@property --rotate {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@property --scroll-margin-bottom {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --break-after {
    syntax: "*";
    inherits: false;
    initial-value: auto;
}

@property --scroll-padding {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --flex-grow {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

@property --text-wrap {
    syntax: "*";
    inherits: true;
    initial-value: wrap;
}

@property --numeric-figures {
    syntax: "*";
    inherits: false;
    initial-value: normal;
}

@property --hue-rotate {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@property --accent-color {
    syntax: "<color>";
    inherits: true;
    initial-value: auto;
}

@property --ring-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #3b82f6;
}

@property --text-decoration-color {
    syntax: "<color>";
    inherits: true;
    initial-value: currentColor;
}

@property --translate-y {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 0;
}

@property --border-left-color {
    syntax: "<color>";
    inherits: false;
    initial-value: currentColor;
}

@property --scale {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --underline-offset {
    syntax: "<length>";
    inherits: false;
    initial-value: auto;
}

@property --blur {
    syntax: "<length>";
    inherits: false;
    initial-value: 0;
}

@property --text-shadow-2xs {
    syntax: "<shadow>";
    inherits: false;
    initial-value: 0 1px 0 rgb(0 0 0 / 0.15);
}

@property --backdrop-grayscale {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

@property --touch-action {
    syntax: "*";
    inherits: false;
    initial-value: auto;
}

@property --skew-x {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@property --overflow-y {
    syntax: "*";
    inherits: false;
    initial-value: visible;
}

@property --drop-shadow {
    syntax: "<shadow>";
    inherits: false;
    initial-value: 0 0 #0000;
}

@property --scroll-padding-right {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --mask-position {
    syntax: "<position>";
    inherits: false;
    initial-value: 0% 0%;
}

@property --text-shadow {
    syntax: "<shadow>";
    inherits: false;
    initial-value: 0 0 #0000;
}

@property --break-inside {
    syntax: "*";
    inherits: false;
    initial-value: auto;
}

@property --cursor {
    syntax: "*";
    inherits: true;
    initial-value: auto;
}

@property --mask-clip {
    syntax: "*";
    inherits: false;
    initial-value: border-box;
}

@property --object-fit {
    syntax: "*";
    inherits: false;
    initial-value: fill;
}

@property --gradient-from {
    syntax: "<color>";
    inherits: false;
    initial-value: transparent;
}

@property --flex-basis {
    syntax: "<flex-basis>";
    inherits: false;
    initial-value: auto;
}

@property --ring-opacity {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --background-blend-mode {
    syntax: "*";
    inherits: false;
    initial-value: normal;
}

@property --backdrop-invert {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

@property --scroll-padding-inline {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --scroll-snap-align {
    syntax: "*";
    inherits: false;
    initial-value: none;
}

@property --stroke-opacity {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --fill-opacity {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --mask-origin {
    syntax: "*";
    inherits: false;
    initial-value: border-box;
}

@property --aspect-w {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --saturate {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --gradient-to-position {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 100%;
}

@property --text-decoration-skip-ink {
    syntax: "*";
    inherits: false;
    initial-value: auto;
}

@property --backdrop-sepia {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

@property --text-opacity {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --flex {
    syntax: "*";
    inherits: false;
    initial-value: 0 1 auto;
}

@property --grid-row {
    syntax: "*";
    inherits: false;
    initial-value: none;
}

@property --mix-blend-mode {
    syntax: "*";
    inherits: false;
    initial-value: normal;
}

@property --border-bottom-color {
    syntax: "<color>";
    inherits: false;
    initial-value: currentColor;
}

@property --backdrop-opacity {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --text-shadow-md {
    syntax: "<shadow>";
    inherits: false;
    initial-value: 0 1px 1px rgb(0 0 0 / 0.1), 0 1px 2px rgb(0 0 0 / 0.1), 0 2px 4px rgb(0 0 0 / 0.1);
}

@property --border-top-color {
    syntax: "<color>";
    inherits: false;
    initial-value: currentColor;
}

@property --grayscale {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

@property --easing-fn {
    syntax: "*";
    inherits: false;
    initial-value: cubic-bezier(0.4, 0, 0.2, 1);
}

@property --visibility {
    syntax: "*";
    inherits: false;
    initial-value: visible;
}

@property --isolation {
    syntax: "*";
    inherits: false;
    initial-value: auto;
}

@property --will-change {
    syntax: "*";
    inherits: false;
    initial-value: auto;
}

@property --break-before {
    syntax: "*";
    inherits: false;
    initial-value: auto;
}

@property --border-spacing-x {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 0;
}

@property --pinch-zoom {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --numeric-fraction {
    syntax: "*";
    inherits: false;
    initial-value: normal;
}

@property --border-opacity {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --top {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: auto;
}

@property --inset-block {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 0;
}

@property --place-items {
    syntax: "*";
    inherits: false;
    initial-value: normal;
}

@property --writing-mode {
    syntax: "*";
    inherits: true;
    initial-value: horizontal-tb;
}

@property --outline-offset {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --content {
    syntax: "*";
    inherits: false;
    initial-value: '';
}

@property --right {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: auto;
}

@property --scroll-padding-bottom {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --line-clamp {
    syntax: "<integer>";
    inherits: false;
    initial-value: none;
}

@property --mask-mode {
    syntax: "*";
    inherits: false;
    initial-value: match-source;
}

@property --border-right-color {
    syntax: "<color>";
    inherits: false;
    initial-value: currentColor;
}

@property --scroll-margin-right {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --backdrop-hue-rotate {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@property --scroll-behavior {
    syntax: "*";
    inherits: true;
    initial-value: auto;
}

@property --inset-inline {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 0;
}

@property --sepia {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

@property --transition-property {
    syntax: "*";
    inherits: false;
    initial-value: all;
}

@property --forced-colors {
    syntax: "*";
    inherits: false;
    initial-value: auto;
}

@property --unicode-bidi {
    syntax: "*";
    inherits: false;
    initial-value: normal;
}

@property --user-select {
    syntax: "*";
    inherits: false;
    initial-value: auto;
}

@property --backdrop-brightness {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --box-shadow {
    syntax: "<shadow>";
    inherits: false;
    initial-value: none;
}

@property --brand-hue {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@property --position {
    syntax: "*";
    inherits: false;
    initial-value: static;
}

@property --scroll-snap-type {
    syntax: "*";
    inherits: false;
    initial-value: none;
}

@property --pan-x {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 0;
}

@property --numeric-spacing {
    syntax: "*";
    inherits: false;
    initial-value: normal;
}

@property --scroll-margin-left {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --appearance {
    syntax: "*";
    inherits: false;
    initial-value: none;
}

@property --gradient-via {
    syntax: "<color>";
    inherits: false;
    initial-value: transparent;
}

@property --grid-column {
    syntax: "*";
    inherits: false;
    initial-value: none;
}

@property --scroll-margin {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --left {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: auto;
}

@property --ring-offset-shadow {
    syntax: "<shadow>";
    inherits: false;
    initial-value: 0 0 #0000;
}

@property --border-spacing-y {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 0;
}

@property --scroll-margin-block {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --list-style-image {
    syntax: "<url>";
    inherits: true;
    initial-value: none;
}

@property --place-self {
    syntax: "*";
    inherits: false;
    initial-value: auto;
}

@property --ring-shadow {
    syntax: "<shadow>";
    inherits: false;
    initial-value: 0 0 #0000;
}

@property --flex-shrink {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --backdrop-blur {
    syntax: "<length>";
    inherits: false;
    initial-value: 0;
}

@property --brightness {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --gradient-from-position {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

@property --mask-image {
    syntax: "<mask-source>";
    inherits: false;
    initial-value: none;
}

@property --clear {
    syntax: "*";
    inherits: false;
    initial-value: none;
}

@property --list-style-position {
    syntax: "*";
    inherits: true;
    initial-value: outside;
}

@property --ordinal {
    syntax: "*";
    inherits: false;
    initial-value: normal;
}

@property --ring-offset-width {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --pan-y {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 0;
}

@property --scroll-padding-left {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --transition-delay {
    syntax: "<time>";
    inherits: false;
    initial-value: 0s;
}

@property --text-shadow-xs {
    syntax: "<shadow>";
    inherits: false;
    initial-value: 0 1px 1px rgb(0 0 0 / 0.2);
}

@property --gradient-via-colors {
    syntax: "*";
    inherits: false;
}

@property --bottom {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: auto;
}

@property --resize {
    syntax: "*";
    inherits: false;
    initial-value: none;
}

@property --skew-y {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@property --slashed-zero {
    syntax: "*";
    inherits: false;
    initial-value: normal;
}

@property --filter {
    syntax: "*";
    inherits: false;
    initial-value: none;
}

@property --backdrop-filter {
    syntax: "*";
    inherits: false;
    initial-value: none;
}

@property --spacing-scale {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --shadow {
    syntax: "<shadow>";
    inherits: false;
    initial-value: 0 0 #0000;
}

@property --text-shadow-lg {
    syntax: "<shadow>";
    inherits: false;
    initial-value: 0 1px 2px rgb(0 0 0 / 0.1), 0 3px 2px rgb(0 0 0 / 0.1), 0 4px 8px rgb(0 0 0 / 0.1);
}

@property --ring-inset {
    syntax: "*";
    inherits: false;
}

@property --overscroll {
    syntax: "*";
    inherits: false;
    initial-value: auto;
}

@property --transition-duration {
    syntax: "<time>";
    inherits: false;
    initial-value: 0s;
}

@property --transition-timing-function {
    syntax: "<timing-function>";
    inherits: false;
    initial-value: ease;
}

@property --scroll-snap-strictness {
    syntax: "*";
    inherits: false;
    initial-value: proximity;
}

@property --scroll-margin-top {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --place-content {
    syntax: "*";
    inherits: false;
    initial-value: normal;
}

@property --scroll-padding-block {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --vertical-align {
    syntax: "<vertical-align>";
    inherits: false;
    initial-value: baseline;
}

@property --caption-side {
    syntax: "*";
    inherits: true;
    initial-value: top;
}

@property --contrast {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --gradient-to {
    syntax: "<color>";
    inherits: false;
    initial-value: transparent;
}

@property --order {
    syntax: "<integer>";
    inherits: false;
    initial-value: 0;
}

@property --hyphens {
    syntax: "*";
    inherits: true;
    initial-value: manual;
}

@property --bg-opacity {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --gradient-to-color {
    syntax: "<color>";
    inherits: false;
    initial-value: transparent;
}

@property --shadow-colored {
    syntax: "*";
    inherits: false;
}

@property --text-shadow-sm {
    syntax: "<shadow>";
    inherits: false;
    initial-value: 0 1px 0 rgb(0 0 0 / 0.075), 0 1px 1px rgb(0 0 0 / 0.075), 0 2px 2px rgb(0 0 0 / 0.075);
}

@property --float {
    syntax: "*";
    inherits: false;
    initial-value: none;
}

@property --clip-path {
    syntax: "<geometry-box>";
    inherits: false;
    initial-value: none;
}

@property --ring-offset-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #fff;
}

@property --shadow-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #000;
}

@property --container-padding-left {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

@property --outline-color {
    syntax: "<color>";
    inherits: true;
    initial-value: currentColor;
}

@property --invert {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

@property --mask-size {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: auto;
}

@property --placeholder-opacity {
    syntax: "<number>";
    inherits: false;
    initial-value: 1;
}

@property --border-collapse {
    syntax: "*";
    inherits: true;
    initial-value: separate;
}

@property --caret-color {
    syntax: "<color>";
    inherits: true;
    initial-value: auto;
}

@property --gradient-from-color {
    syntax: "<color>";
    inherits: false;
    initial-value: transparent;
}

@property --gradient-via-position {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 50%;
}