
/*
  ████████   ██             ██
 ██░░░░░░   ░██    ██   ██ ░██
░██        ██████ ░░██ ██  ░██  █████
░█████████░░░██░   ░░███   ░██ ██░░░██
░░░░░░░░██  ░██     ░██    ░██░███████
       ░██  ░██     ██     ░██░██░░░░
 ████████   ░░██   ██      ███░░██████
░░░░░░░░     ░░   ░░      ░░░  ░░░░░░
Dx Style - @0.0.0
*/
@layer theme, components, utilities, base, properties;
@layer theme {
  :root {
    --color-black: black;
    --color-red-500: oklch(0.637 0.237 25.331);
    --color-white: white;
  }
  .dark {
    --color-black: black;
    --color-red-500: oklch(0.637 0.237 25.331);
    --color-white: white;
  }
}
@layer components {}
@layer utilities {
  .bg-black {
    background-color: var(--color-black);
  }
  .bg-red-500 {
    background-color: var(--color-red-500);
  }
  .flex {
    display: flex;
  }
  .h-50 {
    height: 12.5rem;
  }
  .items-center {
    align-items: center;
  }
  .justify-center {
    justify-content: center;
  }
  .min-h-screen {
    min-height: 100vh;
  }
  .rounded-md {
    border-radius: 0.375rem;
  }
  .text-center {
    text-align: center;
  }
  .text-white {
    color: var(--color-white);
  }
  .text-xl {
    font-size: 1.25rem;
  }
  .w-50 {
    width: 12.5rem;
  }
  .none {}
}
